version: "3.9"

services:
  backend:
    build: .
    container_name: rtlvision-backend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
      - ./runtime_jobs:/app/runtime_jobs
    environment:
      - PORT=3000
      - MONGO_URL=mongodb://mongo:27017/rtlv_db
      - JWT_SECRET=supersecretkey
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: rtlvision-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
